<table id="table_style">
	<tr>
		<td>Location : </td>
		<td><%= collection_select :member, :location_id, @locations, :id, :name %></td>
	</tr>
	<tr>
		<td>Name : </td>
		<td><%= text_field :member, :name, :size => "30" %></td>
	</tr>
	<tr>
		<td>Father Name : </td>
		<td><%= text_field :member, :father_name, :size => "30" %></td>
	</tr>
	<tr>
		<td>Phone Number : </td>
		<td><%= text_field :member, :phone, :size => "30" %></td>
	</tr>
	<tr>
		<td>Date Of Birth : </td>
		<td><%= date_select :member, :date_of_birth,:start_year => 1900, :end_year => Time.now.year, :size => "30" %></td>
	</tr>
	<tr>
		<td>Profession : </td>
		<td><%= text_field :member, :profession, :size => "30" %></td>
	</tr>
	<tr>
		<td>Job Description : </td>
		<td><%= text_field :member, :job_description, :size => "30" %></td>
	</tr>
	<tr>
		<td>Current Location : </td>
		<td><%= text_field :member, :current_location, :size => "30" %></td>
	</tr>
	<tr>
		<td>Aadhaar Id : </td>
		<td><%= text_field :member, :aadhaar_id, :size => "30" %></td>
	</tr>
</table>
