<table id="table_style">
	<tr>
		<td>Location : </td>
		<td><%= collection_select :member_due, :location_id, @locations, :id, :name , {:prompt => "--select--"} %></td>
	</tr>
	<tr>
		<td>Member : </td>
		<td class="htmlres">
			<%= text_field :member_due,:member, :id=>"member_due", :size => "30" %>
			<%#= collection_select :member_due, :member_id, @members, :id, :name , {:prompt => "--select--"} %></td>
	</tr>
	<tr>
		<td>Amount : </td>
		<td><%= text_field :member_due, :amount, :size => "30" %></td>
	</tr>
	<tr>
		<td>Date : </td>
		<td><%= date_select :member_due, :date,:start_year => 1900, :end_year => Time.now.year, :size => "30" %></td>
	</tr>

</table>
 <%@d=[]
    a=@members
      a.each do|s|
        h={}
        h["id"]=s.name
        h["name"]=s.name
        @d << h
      end
      l=sanitize(@d.to_json)%>
 
<script>

$('#member_due_location_id').on('change', function() {
	var village = jQuery("#member_due_location_id option:selected").attr("value");
  		$.ajax({
		  url: '/mutharaiyar/member_dues/'+village+'/village_member',
		  success: function(data)
      {
		    $(".htmlres").replaceWith(data);
		  }
		});
  	
});
</script>


<script type="text/javascript">
$(function (){
var availableTags = <%=l%>;
  $('#member_due').tokenInput(availableTags, { 
      preventDuplicates: true,
       theme: "facebook",
  }); 
$("#token-input-member_due").attr("placeholder","Select Members")
	});

</script>