<table id="table_style">
	<tr>
		<td>Location : </td>
		<td><%= collection_select :member_due, :location_id, @locations, :id, :name , {:prompt => "--select--"} %></td>
	</tr>
	<tr>
		<td>Member : </td>
		<td><%= collection_select :member_due, :member_id, @members, :id, :name , {:prompt => "--select--"} %></td>
	</tr>
	<tr>
		<td>Amount : </td>
		<td><%= text_field :member_due, :amount, :size => "30" %></td>
	</tr>
	<tr>
		<td>Date : </td>
		<td><%= date_select :member_due, :date,:start_year => 1900, :end_year => Time.now.year, :size => "30" %></td>
	</tr>
	<tr>
		<td>Due Date : </td>
		<td><%= date_select :member_due, :due_date,:start_year => 1900, :end_year => Time.now.year, :size => "30" %></td>
	</tr>
	
</table>
