<table><tr><td><H2>Location Transactions Details</H2></td></tr></table>
<p style='margin-left:273px'><%= link_to "<button>New Location Transaction</button>".html_safe, new_mutharaiyar_location_transaction_path %>	</p>
<table id="table_style">
	<tr>
		<th>Member</th>
		<th>Location</th>
		<th>Date</th>
		<th>Debit Amount</th>
		<th>Credit Amount</th>
	</tr>	
	<% for location in @location_transactions %>
	  <tr>
		<td><%= location.member.name %></td>
		<td><%= location.location.name %></td>
		<td><%= location.date %></td>
		<td><%= location.debit_amount %></td>
		<td><%= location.credit_amount %></td>
		<td><%= link_to "Edit", edit_mutharaiyar_location_transaction_path(location) %></td>
		<!--td>< % = link_to "Delete", bank_path(bank), :confirm => "Are you sure?", :method=>:delete % ></td-->
	  </tr>	
	<% end %>
</table>	