<table><tr><td><H2>Mtharaiyar Transaction Details</H2></td></tr></table>
<p style='margin-left:273px'><%= link_to "<button>New Mutharaiyar Transaction</button>".html_safe, new_mutharaiyar_mutharayar_transaction_path %></p>

<%= link_to "Locations", mutharaiyar_locations_path %>
|
<%= link_to "Members", mutharaiyar_members_path %>
|
<%= link_to "Location Transactions", mutharaiyar_location_transactions_path %>
<table id="table_style">
	<tr>
		<th>From Location</th>
		<th>To Location</th>
		<th>Date</th>
		<th> Amount</th>
	</tr>	
	<% for mt in @mutharaiyar_transactions %>
	  <tr>
		<td><%= mt.from_location.try(:name) %></td>
		<td><%= mt.to_location.try(:name) %></td>
		<td><%= mt.date %></td>
		<td><%= mt.amount %></td>
		<td><%= link_to "Edit", edit_mutharaiyar_location_transaction_path(mt) %></td>
		<!--td>< % = link_to "Delete", bank_path(bank), :confirm => "Are you sure?", :method=>:delete % ></td-->
	  </tr>	
	<% end %>
</table>	