<table id="table_style">
	<tr>
		<td>Name : </td>
		<td><%= text_field :company, :name, :size => "30" %></td>
	</tr>
	<tr>
		<td>district : </td>
		<td><%= text_field :address, :district, :size => "30" %></td>
	</tr>
	<tr>
		<td>state : </td>
		<td><%= text_field :address, :state, :size => "30" %></td>
	</tr>
	<tr>
		<td>Country : </td>
		<td><%= text_field :address, :country, :size => "30" %></td>
	</tr>
	<tr>
		<td>pin : </td>
		<td><%= text_field :address, :pin, :size => "30" %></td>
	</tr>
</table>
