<table id="table_style">
	<tr>
		<td>Location Name : </td>
		<td><%= text_field :location, :name, :size => "30" %></td>
	</tr>
	<tr>
		<td>District : </td>
		<td><%= text_field :location, :district, :size => "30" %></td>
	</tr>
	<tr>
		<td>Panjayath : </td>
		<td><%= text_field :location, :panjayath, :size => "30" %></td>
	</tr>
	<tr>
		<td>Account Holder : </td>
		<td><%= text_field :location, :account_holder, :size => "30" %></td>
	</tr>
	<tr>
		<td>Bank Name : </td>
		<td><%= text_field :location, :bank_name, :size => "30" %></td>
	</tr>
	<tr>
		<td>Branch : </td>
		<td><%= text_field :location, :branch, :size => "30" %></td>
	</tr>
	<tr>
		<td>Account Number : </td>
		<td><%= text_field :location, :bank_account_number, :size => "30" %></td>
	</tr>
	<tr>
		<td>IFSC code : </td>
		<td><%= text_field :location, :ifsc, :size => "30" %></td>
	</tr>

	
	
</table>
