<ul>
  <li><%= link_to "Loan Details", loan_details_reports_path%></li>
  <li><%= link_to "Monthly Details", monthly_loan_details_reports_path%></li>
  <li><%= link_to "Grand Details", grand_details_reports_path%></li>
  <li><%= link_to "Tansactions", transactions_reports_path%></li>
  <li><%= link_to "Total Collection", total_collection_reports_path%></li>
</ul>  