<ul>
  <li><%= link_to "Member Transaction", member_transaction_account_transactions_path %></li>
  <li><%= link_to "Group Transaction", group_transaction_account_transactions_path %></li>
  <li><%= link_to "Bank Transaction", bank_transaction_account_transactions_path %></li>
  <li><%= link_to "Expenses", expenses_account_transactions_path %></li>
  <li><%= link_to "Update Balance", update_balance_account_transactions_path %></li>
</ul>  