<table><tr><td><H2>Event Details</H2></td></tr></table>
<p style='float:right;margin:-28px 25px;'><%= link_to "<button>New Event</button>".html_safe, new_event_path %>	</p>
<table id="table_style">
	<tr>
		<th>Event Name</th>
		<th>Description</th>
		<th>Options</th>
		<!--th></th-->
	</tr>	
	<% for event in @events %>
	  <tr>
		<td><%= event.name %></td>
		<td><%= event.description %></td>
		<td><%= link_to "Donation/Expences ", reports_donations_path(:event_id => event.id) %></td>
		<td><%= link_to "Edit", edit_event_path(event) %></td>
		<!--td>< % = link_to "Delete", event_path(event), :confirm => "Are you sure?", :method=>:delete % ></td-->
	  </tr>	
	<% end %>
</table>	