<H2>Event Details</H2>
<p><%= link_to "New Event".html_safe, new_event_path, :class => "btn btn-primary" %>	</p>
<table id="table_style1" class="table table-striped">
	<tr>
		<th>Event Name</th>
		<th>Description</th>
		<th>Options</th>
		<th></th
	</tr>	
	<% for event in @events %>
	  <tr>
		<td><%= event.name %></td>
		<td><%= event.description %></td>
		<td><%= link_to "Donation/Expences ", reports_donations_path(:event_id => event.id) %></td>
		<td><%= link_to "Edit", edit_event_path(event) %></td>
		<!--td>< % = link_to "Delete", event_path(event), :confirm => "Are you sure?", :method=>:delete % ></td-->
	  </tr>	
	<% end %>
</table>	