<table><tr><td><H2>Donation Details</H2></td></tr></table>
<p><%= link_to "<button>New Donation</button>".html_safe, new_donation_path %>	</p>
<%= form_for :donation, :url=> search_donations_path  do %>
<table width="525px"><tr><td>
<fieldset>
<legend><b>Search Here</b></legend>
<table width="525px">
	<tr>
		<td>Name</td>
		<td><%= text_field :donation, :name, :size => 7 %></td>
		<td>Amount</td>
		<td><%= text_field :donation, :amount, :size => 7%></td>
		<td>From Date</td>
		<td><%= text_field :donation, :date_collected1, :size => "7", :class => "datepicker"%></td>
		<td>To Date</td>
		<td><%= text_field :donation, :date_collected2, :size => "7", :class => "datepicker"%></td>
	</tr>
	<tr>
		<td colspan="8"><p style='margin-left:250px'><%= submit_tag 'Search'%></p></td>
	</tr>
</table>
</fieldset>
</td></tr></table>
<%end%>
<br />
<table id="table_style">
	<tr>
		<th>Donator Name</th>
		<th>Donor ID</th>
		<th>Amount</th>
		<th>Donated Date</th>
		<th>Refered By</th>
		<th>Option</th>
		<!--th></th-->
	</tr>	
	<% for donation in @donations %>
	  <tr>
		<td><%= donation.name.to_s.capitalize %></td>
		<td><%= donation.donor_id %></td>
		<td><%= donation.amount %></td>
		<td><%= donation.date_collected %></td>
		<td><%= donation.refered_by.to_s.capitalize %></td>
		<td><%= link_to "Edit", edit_donation_path(donation) %></td>
		<!--td>< % = link_to "Delete", donation_path(donation), :confirm => "Are you sure?", :method=>:delete % ></td-->
	  </tr>	
	<% end %>
</table>