<script>
  function check_empty()
  {
  	if($("#event_id").val() == "") {
      alert("Please select event.")
      return false
  	}
  	
  }
</script>
<H2>Donation Details</H2>
<div>
	<%= form_for :donation, :url=> search_donations_path  do %>
	  Event : <%= collection_select :event, :id, Event.order(:name), :id, :name, {:prompt => "--Select--"} %><%= submit_tag 'Search', :onclick => "return check_empty()"%>	
	<%end%>
	<div style="float:right;margin:-15px 25px;"><%= link_to "<button>New Donation</button>".html_safe, new_donation_path %></div>
</div>
<br />
<% if !@donations.blank? %>
	<table id="table_style">
		<tr>
			<th>Donator Name</th>
			<th>Donor ID</th>
			<th>Amount</th>
			<th>Donated Date</th>
			<th>Refered By</th>
			<th>Actions</th>
			<!--th></th-->
		</tr>	
		<% for donation in @donations %>
		  <tr>
			<td><%= donation.name.to_s.capitalize %></td>
			<td><%= donation.donor_id %></td>
			<td><%= donation.amount %></td>
			<td><%= donation.date_collected.strftime("%d-%m-%Y") if !donation.date_collected.blank? %></td>
			<td><%= donation.refered_by.to_s.capitalize %></td>
			<td><%= link_to "Edit", edit_donation_path(donation) %></td>
			<!--td>< % = link_to "Delete", donation_path(donation), :method=>:delete, :confirm => "Are you sure?" % ></td-->
		  </tr>	
		<% end %>
	</table>
<% end %>