<%= form_for :donation, :url=> reports_donations_path  do %>
  <div>Event : <%= collection_select :event, :id, Event.order(:name), :id, :name, {:prompt => "--Select--"} %><%= submit_tag 'Search', :onclick => "return check_empty()"%>	
  </div>
<%end%>
<br />
<% if !@donations.blank? %>
    <H2><%= @event.name %> Transactions</H2>
	<table id="table_style">
		<tr>
			<th>Date</th>
			<th>Description</th>
			<th>Credit</th>
			<th>Debit</th>
			<th>Balance</th>
		</tr>
		<% credit = 0 %>
		<% debit = 0 %>
		<% total = 0 %>	
		<% for donation in @donations %>
		  <tr>
			<td><%= donation.date_collected.strftime("%d-%m-%Y") %></td>
			<% description =  donation.donor_id.blank? ? donation.description : donation.name.to_s + " " + donation.description.to_s %>
			<td><%= description %></td>
			<% if !donation.donor_id.blank? %>
			  <% donation_amount = donation.amount %>
			  <% credit = credit + donation.amount %>
			  <% total = total + donation.amount %>
			<% else %>
			  <% exp_amount = donation.amount %>
			  <% debit = debit + donation.amount %>
			  <% total = total - donation.amount %>
			<% end %>   
			<td><%= donation_amount if !donation.donor_id.blank? %></td>
			<td><%= exp_amount if donation.donor_id.blank? %></td>
			<td><%= total %></td>
		  </tr>	
		<% end %>
	</table>
    </br>
	<table>
		<tr>
		  <td>Total Income</td>
		  <td>:<b><%= credit %></b></td>	
		</tr>
		<tr>
		  <td>Total Expense </td>
		  <td>:<b><%= debit %></b></td>	
		</tr>
		<tr><td colspan="2">-----------------------</td></tr>
		<tr>
		  <td>Balance</td>
		  <td>:<b><%= credit - debit %></b></td>	
		</tr>
	</table>	

<% end %>
