<!DOCTYPE HTML>
<html>

<head>
  <title>Mangudi Therkkuvadi</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <%= stylesheet_link_tag "style_site.css" %>
  <!-- modernizr enables HTML5 elements and feature detects -->
  <%= javascript_include_tag "jquery.js" %>
  <%= javascript_include_tag "modernizr-1.5.min.js" %>
  <%= javascript_include_tag "jquery.easing-sooper.js" %>
  <%= javascript_include_tag "jquery.sooperfish.js" %>
  <%= javascript_include_tag "image_fade.js" %>
  <%= javascript_include_tag "image_slide.js" %>

</head>
<body>
  <div id="main">
    <header>
      <div id="logo">
         <img width="150" height="90" style="margin-left:-375px;" src="/assets/log_0.png" alt="image one" />
      </div>
      <div id="name">mangudi therkkuvadi</div>
      <nav>
        <ul class="sf-menu" id="nav">
          <li><a href="index.html">Home</a></li>
          <li><a href="/home/about_us">About us</a></li>
          <li><a href="another_page.html">Events</a>
          	<ul>
              <li><a href="#">SVK members</a></li>
              <li><a href="#">Education</a>
                <ul>
                  <li><a href="#">Students</a></li>
                  <li><a href="#">foreign employees</a></li>
                  <li><a href="#">indian employees</a></li>
                </ul>
              </li>	
              <li><a href="#">Careers</a></li>
              <li><a href="#">Materials</a></li>
            </ul>
          </li>
          <li><a href="page.html">Gallery</a></li>
          <li><a href="#">Menu</a>
            <ul>
              <li><a href="#">SVK members</a></li>
              <li><a href="#">Education</a>
                <ul>
                  <li><a href="#">Students</a></li>
                  <li><a href="#">foreign employees</a></li>
                  <li><a href="#">indian employees</a></li>
                </ul>
              </li>
              <li><a href="#">Careers</a></li>
              <li><a href="#">Materials</a></li>
            </ul>
          </li>
          <li><a href="contact.php">Contact Us</a></li>
          <li><a href="contact.php">Contact Us</a></li>
                        <li style="float:right"><a href="#">signed in:</a></li>
              <li style="float:right"><a href="#">signout</a></li>
        </ul>
      </nav>
    </header>
    <div id="site_content">
      <div id="content">
        <ul class="slideshow">
          <li class="show"><img width="706" height="270" src="/assets/1.jpg" alt="image one" /></li>
          <li><img width="706" height="270" src="/assets/2.jpg" alt="image two" /></li>
          <li><img width="706" height="270" src="/assets/3.jpg" alt="image three" /></li>
        </ul>
        <div id="image_des1">
        	<ul class="image_des">
        	<li class="show"><p>akjsbdjasjdbsahdjDGV</p></li>
        	<li><p>a sdvsavdhjVSaHV</p></li>
        	<li><p>a sdvsavdhjVSaHV</p></li>
        	</ul>
        </div>
    </div>
        <div id="cont">
        <div id="content_item">
        	<div id="mater">
          <h1>Welcome to Mangudi therkkuvadi</h1>
          <p>
          	11/1/1975 அன்று அன்றைய சிவகங்கை ஊராட்சி ஒன்றிய பெருந் தலைவர் திரு.சோம.அரு.இராமநாதன் செட்டியார் அவர்கள் தலைமையில் அன்றைய பாராளுமன்ற உறுப்பினர் திரு.தா.கிருஷ்ணன் அவர்கள் ஊராட்சி ஒன்றிய நடுநிலை பள்ளியாக துவங்கி வைத்தார்.

பின்னர் 2004 ஆம் ஆண்டு உயர்நிலை பள்ளியாக தரம் உயர்த்தப்பட்டதால் ஊராட்சி ஒன்றிய துவக்கப் பள்ளியாக மாறியது..........
          </p>
                    <p>
          	11/1/1975 அன்று அன்றைய சிவகங்கை ஊராட்சி ஒன்றிய பெருந் தலைவர் திரு.சோம.அரு.இராமநாதன் செட்டியார் அவர்கள் தலைமையில் அன்றைய பாராளுமன்ற உறுப்பினர் திரு.தா.கிருஷ்ணன் அவர்கள் ஊராட்சி ஒன்றிய நடுநிலை பள்ளியாக துவங்கி வைத்தார்.

பின்னர் 2004 ஆம் ஆண்டு உயர்நிலை பள்ளியாக தரம் உயர்த்தப்பட்டதால் ஊராட்சி ஒன்றிய துவக்கப் பள்ளியாக மாறியது..........
          </p>
                    <p>
          	11/1/1975 அன்று அன்றைய சிவகங்கை ஊராட்சி ஒன்றிய பெருந் தலைவர் திரு.சோம.அரு.இராமநாதன் செட்டியார் அவர்கள் தலைமையில் அன்றைய பாராளுமன்ற உறுப்பினர் திரு.தா.கிருஷ்ணன் அவர்கள் ஊராட்சி ஒன்றிய நடுநிலை பள்ளியாக துவங்கி வைத்தார்.

பின்னர் 2004 ஆம் ஆண்டு உயர்நிலை பள்ளியாக தரம் உயர்த்தப்பட்டதால் ஊராட்சி ஒன்றிய துவக்கப் பள்ளியாக மாறியது..........
          </p>
                    <p>
          	11/1/1975 அன்று அன்றைய சிவகங்கை ஊராட்சி ஒன்றிய பெருந் தலைவர் திரு.சோம.அரு.இராமநாதன் செட்டியார் அவர்கள் தலைமையில் அன்றைய பாராளுமன்ற உறுப்பினர் திரு.தா.கிருஷ்ணன் அவர்கள் ஊராட்சி ஒன்றிய நடுநிலை பள்ளியாக துவங்கி வைத்தார்.

பின்னர் 2004 ஆம் ஆண்டு உயர்நிலை பள்ளியாக தரம் உயர்த்தப்பட்டதால் ஊராட்சி ஒன்றிய துவக்கப் பள்ளியாக மாறியது..........
          </p>
          </div>
          <div id="notice"><ul>
          	<li>hSCDAFAS</li>
          	<li>hSCDAFAS</li>
          	<li>hSCDAFAS</li>
          	<li>hSCDAFAS</li>
          </ul></div>
          </div>
          </div>
    </div>
    <footer>
    </footer>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
  </div>
  <script type="text/javascript">
    $(document).ready(function() {
      $('ul.sf-menu').sooperfish();
    });
  </script>
</body>
</html>