<!DOCTYPE html>
<html lang="en">
<head>
  <title>SuyaVuthaviKulu</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;}
    }

    .submenu {
      padding-left: 20px;
    }
  </style>
  <%= stylesheet_link_tag "sites.css" %>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Mangudi Terkkuvadi</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Home</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href=""> Feature <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li data-target="#ssinm"><a href="#" >SSINM</a></li>
            <li data-target="#svk"><a href="#" >SVK</a></li>
          </ul>
        </li>
       <li><%= link_to "Gallery", galleries_path %></li>
    <li><%= link_to "About us", about_us_sites_path %></li>
    <li><%= link_to "Contact us", contact_us_sites_path %></li>
        <% unless user_signed_in? %>
          <li>&nbsp;</li>
          <li>
              <%= link_to signin_path do %>
              <span class="glyphicon glyphicon-log-in"></span> Sign in
            <% end %>
          </li>
        <% else %>
          <li><%= link_to current_user.full_name.capitalize, user_path(current_user)%></li>
          <li>
            <%= link_to signout_path do %>
              <span class="glyphicon glyphicon-log-in"></span> Sign out
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
    <br>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Blog..">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
      <br>

      <div id="ssinm" class="side-menu">
        <ul class="nav nav-pills nav-stacked">
          <li><%= link_to "Events", events_path %></li>
        <li><%= link_to "Donation Reports", reports_donations_path %></li>
        <li><%= link_to "Mutharaiyar", mutharaiyar_mutharayar_transactions_path %></li>
        </ul><br>
      </div>

      <div id="svk" class="side-menu">
        <ul class="nav nav-pills nav-stacked">
          <% partials = {"Admin" => ["admin", "transactions", "reports"], "Normal" =>  ["reports"] } %>
          <% partial_list = current_user ? current_user.role_names.collect{|name| partials[name]}.flatten.compact.uniq.sort : ["reports"] %>
          <% partial_list.each_with_index do|partial,ind| %>
            <li>
              <a href="#section1" data-toggle="collapse" data-target="#admin-submenu<%=ind%>" ><%= partial.capitalize %> <span class="caret"></span></a>
              <div id="admin-submenu<%=ind%>" class="submenu collapse">
               <%= render :partial => "home/"+partial %>
          </div>
            </li> 
          <% end %>
          

        </ul><br>
      </div>

    </div>

    <div class="col-sm-9">
      <%= yield%>
    </div>
  </div>
</div>

<footer class="container-fluid">
  <p>Footer Text</p>
</footer>

</body>

<script type="text/javascript">

  $(function(){
    $(".side-menu").hide();
  })
  
  $(".dropdown-menu li").on("click", function(){
    var target = $(this).data('target');
    $(".side-menu").hide();
    $(target).show();
  })

</script>
</html>


